<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="AUesome LLC" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>AUesome</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/animated.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
  </head>

  <body>
        <!-- ***** Preloader Start ***** -->
        <div id="js-preloader" class="js-preloader">
          <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <!-- ***** Preloader End ***** -->
    
        <!-- ***** Header Area Start ***** -->
        <header
          class="header-area header-sticky wow slideInDown"
          data-wow-duration="0.75s"
          data-wow-delay="0s"
        >
          <div class="container">
            <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                    <!-- <img src="assets/images/logo-v3.png" alt="" /> -->
                    AUesome Image Logo
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li class="scroll-to-section">
                      <a href="#top" class="active">Home</a>
                    </li>
                    <li class="scroll-to-section"><a href="#about">About</a></li>
                    <li class="scroll-to-section">
                      <a href="#services">Services</a>
                    </li>
                    <li class="scroll-to-section">
                      <a href="#portfolio">Projects</a>
                    </li>
                    <li class="scroll-to-section"><a href="#blog">Blog</a></li>
                    <li class="scroll-to-section">
                      <a href="#contact">Contact</a>
                    </li>
                    <li class="scroll-to-section">
                      <div class="border-first-button">
                        <a href="#contact">Free Quote</a>
                      </div>
                    </li>
                  </ul>
                  <a class="menu-trigger">
                    <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
            </div>
          </div>
        </header>
        <!-- ***** Header Area End ***** -->