<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      AUesome
    </title>
    <!-- <link rel="icon" href="images/AuesomeMouse.png" sizes="16x16" /> -->

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/dashboard.css" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Menu</span>
          </button>
        </div>
        <div class="p-4 pt-5">
          <h1><a href="auesome.html" class="logo">AUesome Videos</a></h1>
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <ul class="list-unstyled components mb-5">
            <li>
              <a href="#home">Home</a>
            </li>
            <li class="active">
              <a
                href="#homeSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
                >Activity Videos</a
              >
              <ul class="list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#clothespin">Clothespin</a>
                </li>
                <li>
                  <a href="#spinner">Spinner</a>
                </li>
                <li>
                  <a href="#match">Match Me!</a>
                </li>
                <li>
                  <a href="#flashcards">Emotion Flashcards</a>
                </li>
                <li>
                  <a href="#texture">Texture Identification</a>
                </li>
                <li>
                  <a href="#threading">Threading</a>
                </li>
                <li>
                  <a href="#lego">Lego Building</a>
                </li>
                <li>
                  <a href="#zoob">ZOOB Building</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#contact">Contact & Feedback</a>
            </li>
            <li>
              <a href="/">Back to Main Page</a>
            </li>
          </ul>

          <div class="footer" style="bottom: 10px">
            <p>
              AUesome &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <br />
              <span style="font-size: xx-small; margin-top: 0px"
                >Site by
                <a
                  style="color: inherit"
                  target="_blank"
                  href="https://github.com/theAnshulGupta"
                  >Anshul Gupta</a
                ></span
              >
              <a href="https://colorlib.com" style="opacity: 0; font-size: 2px"
                >color is awesome</a
              >
            </p>
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4" id="title">AUesome Videos</h2>
        <iframe
          id="video"
          width="640"
          height="360"
          src="https://www.youtube.com/embed/8tnyApSL5-A"
          frameborder="0"
          allowfullscreen
        >
        </iframe>

        <p id="body">
          Welcome to the AUesome videos! These videos are for parents to work
          with their children on our various activities. Under the videos
          dropdown, you can view different activities that you can work on with
          your kits. Currently, we have around eight activities released and
          will be released based on your kit level and in the future. In your
          kit, you will have items that can correspond with the videos. These
          videos can be watched by parents to work on developing you cognivite
          skills. This page has all the videos, but you can categorize them in
          the menu. Open the video dropdown to view each video seperately!
        </p>

        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/drlIj0OwLJY"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/TEg59h_LfAc"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/zBRMl3tR1F8"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/x3HvF5WUB7g"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/DnDrTzn88qE"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/Jcbzh0jzERQ"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/8tnyApSL5-A"
        >
        </iframe>
        <iframe
          class="videos"
          width="320"
          height="180"
          src="https://www.youtube.com/embed/TEg59h_LfAc"
        >
        </iframe>
      </div>
    </div>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>
